[submodule "RandomNumGen"]
	path = RandomNumGen
	url = https://github.com/maharjun/RandomNumGen
[submodule "MexMemoryInterfacing"]
	path = MexMemoryInterfacing
	url = https://github.com/maharjun/MexMemoryInterfacing
[submodule "CMakeModules"]
	path = CMakeModules
	url = https://github.com/maharjun/CMakeModules
[submodule "ExternalInputCurrent"]
	path = ExternalInputCurrent
	url = https://github.com/maharjun/ExternalInputCurrent
[submodule "Grid2D"]
	path = Grid2D
	url = https://github.com/maharjun/Grid2D
